.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ddd;
  border: 1px solid gray;
}
/* header part start*/
header {
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  /* margin-left: 30px;
  margin-top: 10px;
  */
  padding: 20px;
}
.navsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  background-color: #262626;
  width: 170px;
  border: 1px solid white;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.navbar ul li:hover {
  background-color: crimson;
  transition: all ease-in 0.5s;
}
.navbar ul ul {
  display: none;
}
.navbar ul li:hover > ul {
  display: block;
}

/* header part end*/
/*form start*/
.form1 {
  background-color: crimson;
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  padding: 30px 80px;
  margin-top: 100px;
  border-radius: 5%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0;
}

.form1 input {
  padding: 5px 50px;
  border-color: rgb(245, 65, 164);
  border-radius: 50px;
}
.form1 .btn {
  font-weight: bold;
}
/*form end*/

/*footer start*/
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #262626;
  color: white;
  width: 100%;
}
.name {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.text p {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  position: relative; 
  top: -30px;
}

.icon i {
  font-size: 45px;
  position: relative;
  top: -17px;
}

.Copyrightc {
  height: 50px;
  width: 100%;
  background-color: black;
  line-height: 50px;
  font-size: 25px;
  padding-bottom: 20px;
}
